@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  section {
    border-bottom: 0.5px solid rgba(115, 115, 113, 0.305);
    // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  footer {
    border-top: 0.5px solid rgba(115, 115, 113, 0.305);
  }
}

.container > .navbar-collapse {
  flex-grow: 0;
}

p.lead {
  padding-top: 15px;
  u {
    font-weight: bold;
  }
}
